html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ecf5f3;
  overflow-x: hidden;
}

.title {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.main__container {
  display: grid;
  grid-row-gap: 25px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, 600px);
}

.box {
  height: 130px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  border: 1px solid black;
}

.sub__container {
  display: grid;
  align-items: start;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
